#draw {
  width: 400px; height: 402px;
  margin-left: auto;
  margin-right: auto;
  font-size: 0;
}

.pix{
  display: inline-grid;
  border: 1px solid black;
}

.pix:hover {
  background: #000;
}
.transition {
  transition: 0s 99999s;
}
.transition:hover {
  transition: 1s;
}
